input:focus 
{
    outline:none;
}
navbar
{
  padding-left: 100px;
  padding-top: 30px;
  display: block;
  font-size: 45px;
  color: white;
  font-family: 'Itim', cursive;
}
#container
{
  margin-top: 15%;
}


/*                 COMMON                  */
.font
{
  font-size: 120%;
  padding:18px;
}
.noborder
{
  border: none;
}
.custom
{
  font-size: 15px;
  background-color: white;
  opacity: .8;
  padding: 12px 5px 12px 12px;
}



/*                INPUT ONE               */
#url
{
  width: 600px;
  background-color: white;
  border-radius: 8px 0 0 8px ;
  opacity: .7;
}
#generate
{
  margin-left: -5px;
  width: 160;
  background-color: #28a800;
  border-radius: 0 8px 8px 0;
  color: white;
}



/*                INPUT TWO               */
#domain
{
  width: 110px;
  border-radius: 8px 0 0 8px ;
}
#key
{
  width: 630px;
  margin-left: -5px;
  border-radius: 0 8px 8px 0;
}
  

/*                URL CREATED               */
h2
{
  font-size: 28px;
}
#created
{
  display: none;
  width: 770px;
  background-color: #f8f9fa;
  opacity: .7;
  padding: 2px;
  font-weight: bold;
}
#createdurl
{
  font-size: 16px;
  border: none;
  background-color: #343a40;
  color: white;
  width: 75%;
  padding: .7%;
  opacity: 1;
}




/*                MOBILE VIEW               */
@media screen and (max-width: 1000px)
{

  navbar
  {
    margin-top: 6%;
    font-size: 100px;
    padding-left: 0;
    text-align: center;
  }

  form
  {
    font-size: 30px;
  }
  #url
  {
    width: 660px;
  }
  #generate
  {
    margin-left: -10px;
  }

  .custom
  {
    font-size: 28px;
  }
  #domain
  {
    width:230px; 
  }
  #key
  {
    width:665px;
    margin-left: -10px;
  }

  #created
  {

    font-size: 32px;
    margin-top: 100px;
    width: 920px;
    font-size: 20px;
  }
  h2
  {
    font-size: 36px;
  }
  #createdurl
  {
    font-size: 34px;
  }
  #container
  {
    margin-top: 350px;
  }
  /* html
  {
    background:url(background.jpg) center center cover no-repeat fixed;
  } */
}



/*                 BASIC WEB LAYOUT :           */
html
{
  background:url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
body
{
  margin:0;
  font-family: 'Mina', sans-serif;
}

